@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url(assets/wpp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Roboto Mono";
    overflow-x: hidden;
}

header {
    background-color: #0D0606;
    padding: 10px 0;
    min-height: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px gray;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

.logo {
    margin-right: auto;
    margin-left: 10vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 0px;
    position: relative;
}

.pokebola {
    width: 35px;
    transition: transform 0.5s ease-in-out;
    position: absolute;
    left: 10px;
}

.link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #D9CECE;
    margin-left: 45px; 
}
.logo:hover .pokebola {
    animation: girar 1s ease-in-out forwards;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-720deg);
    }
}

.nav-itens {
    align-self: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    list-style-type: none;
}

.nav-itens li {
    margin: 0 10px;
}

.box {
    height: 100%;
    padding: 5px;
    margin-right: 1vh;
    text-decoration: none;
    color: #D9CECE;
}

.box:last-child {
    margin-right: 4vh;
}